/* mobile 375px */
/* desktop 1440px */

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --very-dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --very-light-gray: hsl(0, 0%, 98%);
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(255,255,255);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: var(--very-dark-blue);
  text-align: center;
}

header {
  margin: 3em auto;
  width: min(40em, 90%);
}

h2 {
  margin: 0;
  font-size: max(24px, 1.5rem);
}

span {
  font-size: max(24px, 1.5rem);
}

footer {
  margin: 3em auto;
}

.card {
  margin: 1em 0;
}

.supervisor-card {
  box-shadow: 0 -0.3em var(--cyan), 0 0.4em .4em lightgrey;
}

.team-builder-card {
  box-shadow: 0 -0.3em var(--red), 0 0.4em .4em lightgrey;
}

.karma-card {
  box-shadow: 0 -0.3em var(--orange), 0 0.4em .4em lightgrey;
}

.calculator-card {
  box-shadow: 0 -0.3em var(--blue), 0 0.4em .4em lightgrey;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-container-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 576px) {
  .card-container {
    flex-direction: row;
    justify-content: center;
  }

  .card-container-centered {
    width: 30em;
  }
}